@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

p{
    font-family: montserrat;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 18px;
    line-height: 25px;
}

.description{
    font-size: 14px;
}

.anchor{
    text-decoration: underline;
}

.anchor:hover{
    cursor: pointer;
}

.anchor:active{
    opacity: 0.5;
}